@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased !important;
  background-color: black;
}
.swiper-pagination-bullet{
  background-color: white;
}
.swiper-pagination-bullet-active{
  background-color: orange;
}
::-webkit-scrollbar{
  width: 3px;
  background-color: rgba(128, 128, 128, 0.322);
}
::-webkit-scrollbar-thumb{
  background-color: rgba(128, 128, 128, 0.375);
}